body{
    margin: 0;
    padding: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}
.gioi{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
h1{
    font-size: 50px;
    color :blue;
}

.bam{
    display: inline-block;
    text-align: center;
    background-color: green;
    color: aliceblue;
    font-size: 20px;
    border: none;
}
p{
    color: #555;
}
img{
    max-width: 20%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}